In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

| Название столбца |Описание|
|:----------------:|:--------|
| L1 | Родной язык участника |
| C | Страна происхождения |
| L1L2 | Лингвистическое сходство между родным языком и языком изучения **(???)** |
| L2 | Второй язык (иностранный) |
| AaA | Возраст переезда в Нидерланды |
| LoR | Продолжительность проживания в Нидерландах |
| Edu.day | Дни формального обучения изучаемого языка |
| Sex | Пол |
| Family | Языкова семья |
| ISO639.3 | ISO 639-3 код изучаемого языка |
| Enroll | Продолжительность обучения на языковых курсах |
| Speaking | Результат теста на знание разговорного языка на государственном экзамене по голландскому языку как второму |
| morph | Морфологическая оценка, связанная со структурами знаний внутри слов |
| lex | Оценка словарного запаса, указывающая на понимание написанных слов |
| new_feat | Оценка характеристик, отражающая способность усваивать новые звуки/грамматические структуры |
| new_sounds | Оценка произношения звуковых символов |

In [2]:
dataframe = pd.read_csv('stex.csv', encoding='latin1')
dataframe.head()

,L1,C,L1L2,L2,AaA,LoR,Edu.day,Sex,Family,ISO639.3,Enroll,Speaking,morph,lex,new_feat,new_sounds
0,Afrikaans,SouthAfrica,AfrikaansEnglish,English,25,0,4.0,Female,Indo-European,afr,93,496,NaN,0.010463,NaN,NaN
1,Afrikaans,SouthAfrica,AfrikaansGerman,German,47,2,4.0,Male,Indo-European,afr,93,542,NaN,0.010463,NaN,NaN
2,Afrikaans,SouthAfrica,AfrikaansMonolingual,Monolingual,23,23,3.0,Female,Indo-European,afr,93,585,NaN,0.010463,NaN,NaN
3,Afrikaans,SouthAfrica,AfrikaansMonolingual,Monolingual,42,2,2.0,Female,Indo-European,afr,93,521,NaN,0.010463,NaN,NaN
4,Afrikaans,SouthAfrica,AfrikaansMonolingual,Monolingual,22,19,3.0,Female,Indo-European,afr,93,639,NaN,0.010463,NaN,NaN

In [3]:
print(dataframe[dataframe.C == 'SouthAfrica'].L1.unique())
print(dataframe[dataframe.C == 'SouthAfrica'].L1.unique().size)

['Afrikaans' 'English' 'French' 'German' 'Greek' 'Italian' 'Portugese'
 'Somali' 'Spanish']
9

In [4]:
dataframe.L2.unique()

array(['English', 'German', 'Monolingual', 'Russian', 'French',
       'Afrikaans', 'Dutch', 'Croatian', 'Greek', 'Italian', 'Serbian',
       'Turkish', 'Albanian', 'Portugese', 'Spanish', 'Arabic', 'Persian',
       'Tamazight', 'Kurdish', 'Armenian', 'Pashto', 'Romanian', 'Danish',
       'Polish', 'Hebrew', 'Czech', 'Swedish', 'Norwegian', 'Slovak',
       'Catalan', 'Bulgarian', 'Romansch', 'Hindi', 'Malay', 'Chinese',
       'Indonesian', 'Japanese', 'Hungarian', 'Georgian', 'Swahili',
       'Finnish', 'Ukranian', 'Urdu', 'Azerbaijani'], dtype=object)

In [5]:
dataframe.groupby('L2').agg(Count=('L2', 'count')).sort_values(by='Count', ascending=False)

             Count
L2
English      27886
Monolingual   8748
French        4804
German        2003
Russian       1889
Arabic        1315
Spanish        725
Persian        396
Italian        348
Turkish        329
Dutch          166
Ukranian       132
Afrikaans      130
Serbian         92
Portugese       88
Romanian        84
Kurdish         77
Czech           71
Swedish         70
Polish          69
Armenian        68
Chinese         64
Hebrew          50
Catalan         43
Romansch        41
Hindi           40
Pashto          40
Greek           39
Hungarian       38
Japanese        37
Danish          36
Indonesian      32
Bulgarian       31
Tamazight       30
Croatian        27
Finnish         26
Azerbaijani     25
Georgian        25
Slovak          24
Swahili         23
Malay           23
Norwegian       22
Albanian        16
Urdu            13

In [6]:
dataframe.count()

L1            50235
C             50235
L1L2          50235
L2            50235
AaA           50235
LoR           50235
Edu.day       50226
Sex           50235
Family        50235
ISO639.3      50235
Enroll        50235
Speaking      50235
morph         48426
lex           50235
new_feat      48219
new_sounds    48219
dtype: int64

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50235 entries, 0 to 50234
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   L1          50235 non-null  object
 1   C           50235 non-null  object
 2   L1L2        50235 non-null  object
 3   L2          50235 non-null  object
 4   AaA         50235 non-null  int64
 5   LoR         50235 non-null  int64
 6   Edu.day     50226 non-null  float64
 7   Sex         50235 non-null  object
 8   Family      50235 non-null  object
 9   ISO639.3    50235 non-null  object
 10  Enroll      50235 non-null  int64
 11  Speaking    50235 non-null  int64
 12  morph       48426 non-null  float64
 13  lex         50235 non-null  float64
 14  new_feat    48219 non-null  float64
 15  new_sounds  48219 non-null  float64
dtypes: float64(5), int64(4), object(7)
memory usage: 6.1+ MB

In [8]:
dataframe.describe()

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
count,50235.000000,50235.000000,50226.000000,50235.000000,50235.000000,48426.000000,50235.000000,48219.000000,48219.000000
mean,26.487648,3.923002,3.134213,81.147029,517.622275,0.050150,0.411063,14.468073,20.117049
std,7.245634,4.275746,0.855379,25.346411,37.917385,0.056546,0.189779,5.645576,3.602436
min,0.000000,0.000000,1.000000,8.000000,270.000000,-0.017100,0.010463,6.000000,13.000000
25%,22.000000,2.000000,3.000000,67.000000,494.000000,0.018300,0.388004,11.000000,19.000000
50%,26.000000,3.000000,3.000000,86.000000,516.000000,0.047900,0.398649,14.000000,21.000000
75%,30.000000,5.000000,4.000000,100.000000,540.000000,0.063800,0.595079,21.000000,23.000000
max,88.000000,59.000000,4.000000,148.000000,685.000000,0.326900,0.595079,32.000000,27.000000

Если участники не были оценены по способности усваивать новые звуки, они также не были оценены по произношению, но они были оценены по разговорной речи, что должно быть связано с обоими этими показателями. Удалим те строки, где есть NaN по критериям оценки усвоения новых звуков или произношению.

In [9]:
dataframe.dropna(inplace=True)

In [10]:
print(dataframe[dataframe.C == 'SouthAfrica'].L1.unique())
print(dataframe[dataframe.C == 'SouthAfrica'].L1.unique().size)

['English' 'French' 'German' 'Greek' 'Italian' 'Portugese' 'Somali'
 'Spanish']
8

In [11]:
dataframe.count()

L1            47232
C             47232
L1L2          47232
L2            47232
AaA           47232
LoR           47232
Edu.day       47232
Sex           47232
Family        47232
ISO639.3      47232
Enroll        47232
Speaking      47232
morph         47232
lex           47232
new_feat      47232
new_sounds    47232
dtype: int64

### Гипотеза №1

Соседние страны из той же языковой семьи наберут больше баллов (покажут лучший результат), так как они ближе по культуре и языку.

In [12]:
dataframe.C.unique()

array(['Albania', 'Yugoslavia', 'France', 'USSR', 'Australia',
       'Czechslowakia', 'UnitedKingdom', 'Turkey', 'Ethiopia', 'Syria',
       'Afghanistan', 'Ghana', 'Egypt', 'Eritrea', 'Sudan', 'Iran',
       'Algeria', 'Lebanon', 'Iraq', 'Morocco', 'Netherlands', 'Libya',
       'UnitedStates', 'Israel', 'Kuwait', 'Tunisia', 'SaudiArabia',
       'Greece', 'Belgium', 'Germany', 'Togo', 'Spain', 'India', 'Rwanda',
       'Aruba', 'Iceland', 'Switzerland', 'ElSalvador', 'Somalia',
       'Tanzania', 'Russia', 'Mozambique', 'China', 'Sweden',
       'Azerbaijan', 'Armenia', 'Georgia', 'Ukraine', 'Argentina',
       'BosniaandHerzegovina', 'SerbiaandMontenegro', 'Slovenia',
       'Bulgaria', 'Norway', 'Denmark', 'Belarus', 'Finland', 'Croatia',
       'Romania', 'Austria', 'CzechRepublic', 'Indonesia', 'Slovakia',
       'Philippines', 'Chile', 'Japan', 'NewZealand', 'Guyana', 'Canada',
       'SouthAfrica', 'Cuba', 'Italy', 'Zimbabwe', 'Kenya', 'HongKong',
       'Malaysia', 'Bolivia', 'Nepal', 'Venezuela', 'Angola', 'Ireland',
       'Malta', 'Singapore', 'Korea,South', 'Nigeria', 'Poland',
       'Cameroon', 'Brazil', 'Guatemala', 'SierraLeone', 'Nicaragua',
       'Mexico', 'Bangladesh', 'Pakistan', 'Thailand', 'Peru', 'Portugal',
       'Vietnam', 'Taiwan', 'Congo,DemocraticRepublicofthe', 'Burundi',
       'Congo,Republic', "Coted'Ivoire", 'Senegal', 'Guinea', 'Colombia',
       'Kazakhstan', 'Uzbekistan', 'Hungary', 'Latvia', 'Lithuania',
       'Mongolia', 'CapeVerde', 'Moldova', 'Estonia', 'Ecuador',
       'DominicanRepublic', 'Uruguay', 'CostaRica'], dtype=object)

Заметим, что есть несколько стран, которые уже не существуют. Причем некоторые из них включали в себя несколько этносов, языков и пр. Например, СССР, Югославия. Такие строки датасета могут только путать наше представление о факторах, влияющих на изучение языка. Дальше рассмотрим, как именно это влияет.

In [13]:
country_rating = dataframe.groupby("C").agg(Median=('Speaking', 'median'), Count=('Speaking', 'count'))
country_rating[country_rating.Count > 20].sort_values("Median",ascending=False).head(20)

               Median  Count
C
Austria         563.0    252
Switzerland     559.0    258
Norway          550.0    196
Germany         550.0   4863
Sweden          547.0    292
SouthAfrica     539.0    204
Czechslowakia   538.0    410
Finland         536.5    264
Hungary         536.0    626
CzechRepublic   535.0    113
UnitedKingdom   535.0    973
NewZealand      534.0     69
Ireland         534.0    135
Iceland         533.0     45
Australia       533.0    178
UnitedStates    533.0    805
Uruguay         533.0     33
Canada          532.0    215
Zimbabwe        532.0     22
Belgium         531.5    136

Здесь стоит фильтр по количеству от 20 человек из каждой страны, чтобы выборка была более-менее показательной.

Как мы видим, лучшие результаты тестов по разговорной речи получают люди из европейских стран. Однако есть и такие регионы как Южная Африка.

In [14]:
# only South Africa
SA_langs = dataframe[dataframe.C == "SouthAfrica"]
SA_langs.L1.unique()

array(['English', 'French', 'German', 'Greek', 'Italian', 'Portugese',
       'Somali', 'Spanish'], dtype=object)

In [15]:
print(SA_langs.groupby("L1").agg(Count=('L1', 'count')))
print('===============================================')
print(SA_langs.groupby("L2").agg(Count=('L2', 'count')))

           Count
L1
English      193
French         1
German         2
Greek          2
Italian        1
Portugese      2
Somali         2
Spanish        1
===============================================
             Count
L2
Afrikaans      116
English         11
French          11
German          10
Japanese         1
Monolingual     53
Portugese        1
Spanish          1

Теперь мы видим, что основной язык в Южной Африке - это английский. Английский входит не только в одну семью (Индоевропейскую), но и в одну группу (германские языки).

In [16]:
uruguay = dataframe[dataframe.C == "Uruguay"]
uruguay

,L1,C,L1L2,L2,AaA,LoR,Edu.day,Sex,Family,ISO639.3,Enroll,Speaking,morph,lex,new_feat,new_sounds
42175,Spanish,Uruguay,SpanishMonolingual,Monolingual,26,6,3.0,Female,Indo-European,spa,101,500,0.0193,0.398649,18.0,23.0
42243,Spanish,Uruguay,SpanishEnglish,English,30,2,4.0,Female,Indo-European,spa,101,527,0.0193,0.398649,18.0,23.0
42251,Spanish,Uruguay,SpanishEnglish,English,30,2,4.0,Female,Indo-European,spa,101,509,0.0193,0.398649,18.0,23.0
42403,Spanish,Uruguay,SpanishEnglish,English,26,4,3.0,Female,Indo-European,spa,101,536,0.0193,0.398649,18.0,23.0
42490,Spanish,Uruguay,SpanishEnglish,English,25,1,4.0,Female,Indo-European,spa,101,582,0.0193,0.398649,18.0,23.0
42520,Spanish,Uruguay,SpanishMonolingual,Monolingual,25,1,4.0,Female,Indo-European,spa,101,556,0.0193,0.398649,18.0,23.0
42597,Spanish,Uruguay,SpanishEnglish,English,22,0,3.0,Female,Indo-European,spa,101,597,0.0193,0.398649,18.0,23.0
42620,Spanish,Uruguay,SpanishEnglish,English,42,4,4.0,Female,Indo-European,spa,101,595,0.0193,0.398649,18.0,23.0
42621,Spanish,Uruguay,SpanishEnglish,English,33,8,3.0,Female,Indo-European,spa,101,546,0.0193,0.398649,18.0,23.0
42732,Spanish,Uruguay,SpanishEnglish,English,24,4,2.0,Female,Indo-European,spa,101,554,0.0193,0.398649,18.0,23.0
42740,Spanish,Uruguay,SpanishEnglish,English,27,3,1.0,Male,Indo-European,spa,101,556,0.0193,0.398649,18.0,23.0
42839,Spanish,Uruguay,SpanishEnglish,English,34,14,3.0,Female,Indo-European,spa,101,508,0.0193,0.398649,18.0,23.0
42992,Spanish,Uruguay,SpanishEnglish,English,42,2,4.0,Female,Indo-European,spa,101,540,0.0193,0.398649,18.0,23.0
43092,Spanish,Uruguay,SpanishEnglish,English,22,3,3.0,Female,Indo-European,spa,101,522,0.0193,0.398649,18.0,23.0
43096,Spanish,Uruguay,SpanishFrench,French,32,5,3.0,Male,Indo-European,spa,101,559,0.0193,0.398649,18.0,23.0
43102,Spanish,Uruguay,SpanishSwedish,Swedish,24,2,3.0,Female,Indo-European,spa,101,544,0.0193,0.398649,18.0,23.0
43453,Spanish,Uruguay,SpanishEnglish,English,30,2,4.0,Female,Indo-European,spa,101,518,0.0193,0.398649,18.0,23.0
43459,Spanish,Uruguay,SpanishEnglish,English,0,30,4.0,Female,Indo-European,spa,101,522,0.0193,0.398649,18.0,23.0
43460,Spanish,Uruguay,SpanishItalian,Italian,29,2,3.0,Female,Indo-European,spa,101,567,0.0193,0.398649,18.0,23.0
43595,Spanish,Uruguay,SpanishEnglish,English,27,3,4.0,Male,Indo-European,spa,101,562,0.0193,0.398649,18.0,23.0
43818,Spanish,Uruguay,SpanishEnglish,English,18,1,3.0,Male,Indo-European,spa,101,482,0.0193,0.398649,18.0,23.0
43820,Spanish,Uruguay,SpanishEnglish,English,37,3,4.0,Female,Indo-European,spa,101,533,0.0193,0.398649,18.0,23.0
43833,Spanish,Uruguay,SpanishEnglish,English,24,1,3.0,Male,Indo-European,spa,101,513,0.0193,0.398649,18.0,23.0
43834,Spanish,Uruguay,SpanishEnglish,English,28,4,2.0,Female,Indo-European,spa,101,520,0.0193,0.398649,18.0,23.0
43842,Spanish,Uruguay,SpanishMonolingual,Monolingual,27,1,3.0,Male,Indo-European,spa,101,490,0.0193,0.398649,18.0,23.0
44059,Spanish,Uruguay,SpanishPortugese,Portugese,36,0,3.0,Female,Indo-European,spa,101,624,0.0193,0.398649,18.0,23.0
44178,Spanish,Uruguay,SpanishPortugese,Portugese,31,2,3.0,Female,Indo-European,spa,101,513,0.0193,0.398649,18.0,23.0
44193,Spanish,Uruguay,SpanishFrench,French,33,20,4.0,Female,Indo-European,spa,101,591,0.0193,0.398649,18.0,23.0
44199,Spanish,Uruguay,SpanishEnglish,English,23,3,3.0,Female,Indo-European,spa,101,496,0.0193,0.398649,18.0,23.0
44200,Spanish,Uruguay,SpanishEnglish,English,33,1,4.0,Male,Indo-European,spa,101,561,0.0193,0.398649,18.0,23.0
44207,Spanish,Uruguay,SpanishFrench,French,26,18,2.0,Female,Indo-European,spa,101,520,0.0193,0.398649,18.0,23.0
44208,Spanish,Uruguay,SpanishEnglish,English,28,3,4.0,Female,Indo-European,spa,101,522,0.0193,0.398649,18.0,23.0
44851,Spanish,Uruguay,SpanishEnglish,English,34,5,4.0,Female,Indo-European,spa,101,506,0.0193,0.398649,18.0,23.0

In [17]:
print(uruguay.groupby("L1").agg(Count=('L1', 'count')))
print('===============================================')
print(uruguay.groupby("L2").agg(Count=('L2', 'count')))

         Count
L1
Spanish     33
===============================================
             Count
L2
English         23
French           3
Italian          1
Monolingual      3
Portugese        2
Swedish          1

Снова казалось бы далекая страна показывает неплохие результаты (топ-17), так как много участников, владеющих английским языком.

In [18]:
fam_rating = dataframe.groupby("Family").agg(Median=('Speaking', 'median'), Count=('Speaking', 'count'))
fam_rating[fam_rating.Count > 100].sort_values("Median",ascending=False).head(10)

                Median  Count
Family
Uralic           535.0   1032
Indo-European    523.0  32955
Kartvelian       506.0    117
Altaic           501.0   2912
Austronesian     501.0   1819
Japanese         500.0    278
Afro-Asiatic     498.0   7150
Niger-Congo      496.0    430
Austro-Asiatic   491.5    182
Tai-Kadai        490.0    265

Интересно, что уральская языковая семья по медиане получает высшую оценку, чем индо-европейская. Рассмотрим подробнее этот момент.

In [19]:
dataframe[dataframe["Family"] == "Uralic"].groupby(["L1", "L2"]).count()

                         C  L1L2  AaA  LoR  Edu.day  Sex  Family  ISO639.3  \
L1        L2
Finnish   English      215   215  215  215      215  215     215       215
          German         3     3    3    3        3    3       3         3
          Monolingual    3     3    3    3        3    3       3         3
          Russian        2     2    2    2        2    2       2         2
          Swedish       15    15   15   15       15   15      15        15
Hungarian Arabic         1     1    1    1        1    1       1         1
          Croatian       1     1    1    1        1    1       1         1
          Dutch          2     2    2    2        2    2       2         2
          English      493   493  493  493      493  493     493       493
          French         8     8    8    8        8    8       8         8
          German       139   139  139  139      139  139     139       139
          Hebrew         1     1    1    1        1    1       1         1
          Hungarian      2     2    2    2        2    2       2         2
          Italian        8     8    8    8        8    8       8         8
          Monolingual   50    50   50   50       50   50      50        50
          Norwegian      2     2    2    2        2    2       2         2
          Polish         1     1    1    1        1    1       1         1
          Romanian      55    55   55   55       55   55      55        55
          Romansch       2     2    2    2        2    2       2         2
          Russian        9     9    9    9        9    9       9         9
          Serbian        4     4    4    4        4    4       4         4
          Slovak        15    15   15   15       15   15      15        15
          Spanish        1     1    1    1        1    1       1         1

                       Enroll  Speaking  morph  lex  new_feat  new_sounds
L1        L2
Finnish   English         215       215    215  215       215         215
          German            3         3      3    3         3           3
          Monolingual       3         3      3    3         3           3
          Russian           2         2      2    2         2           2
          Swedish          15        15     15   15        15          15
Hungarian Arabic            1         1      1    1         1           1
          Croatian          1         1      1    1         1           1
          Dutch             2         2      2    2         2           2
          English         493       493    493  493       493         493
          French            8         8      8    8         8           8
          German          139       139    139  139       139         139
          Hebrew            1         1      1    1         1           1
          Hungarian         2         2      2    2         2           2
          Italian           8         8      8    8         8           8
          Monolingual      50        50     50   50        50          50
          Norwegian         2         2      2    2         2           2
          Polish            1         1      1    1         1           1
          Romanian         55        55     55   55        55          55
          Romansch          2         2      2    2         2           2
          Russian           9         9      9    9         9           9
          Serbian           4         4      4    4         4           4
          Slovak           15        15     15   15        15          15
          Spanish           1         1      1    1         1           1

Как оказалось, большинство участников из этого среза владеют английским или немецким, которые тесно связаны (и похожи) в голландским.

### Вывод по гипотезе №1

Гипотеза подтверждена, в топе по уровню разговорного голландского действительно те участники, которые либо жили в соседних европейских странах со схожим языком, либо те, которые знали английский/немецкий как иностранный.

### Гипотеза №2

Люди, владеющие лишь одним языком, показывают худший результат, чем люди, которые знают хотя бы один язык как иностранный (второй).

In [20]:
monoling = dataframe[dataframe.L2 == 'Monolingual']
print('Владеющие только одним языком')
print('\tМедиана:')
print(monoling.median(numeric_only=True))
print('\n\tСреднее:')
print(monoling.mean(numeric_only=True))
print('\n\nВладеющие несколькими языками')
print('\tМедиана:')
print(dataframe[dataframe.L2 != 'Monolingual'].median(numeric_only=True))
print('\n\tСреднее:')
print(dataframe[dataframe.L2 != 'Monolingual'].mean(numeric_only=True))

Владеющие только одним языком
	Медиана:
AaA            25.000000
LoR             3.000000
Edu.day         3.000000
Enroll         85.000000
Speaking      510.000000
morph           0.050000
lex             0.398649
new_feat       11.000000
new_sounds     20.000000
dtype: float64

	Среднее:
AaA            26.242613
LoR             5.041510
Edu.day         2.940197
Enroll         84.258560
Speaking      510.318949
morph           0.044092
lex             0.395435
new_feat       13.388133
new_sounds     20.101431
dtype: float64


Владеющие несколькими языками
	Медиана:
AaA            26.000000
LoR             2.000000
Edu.day         3.000000
Enroll         88.000000
Speaking      518.000000
morph           0.047900
lex             0.398649
new_feat       14.000000
new_sounds     21.000000
dtype: float64

	Среднее:
AaA            26.555627
LoR             3.668587
Edu.day         3.181247
Enroll         80.917786
Speaking      519.381640
morph           0.046007
lex             0.411474
new_feat       14.577641
new_sounds     20.087562
dtype: float64

В целом гипотеза подтверждается, однако разрыв получается меньше ожидаемого, всего несколько баллов.

In [21]:
monoling.groupby("L1").agg(Median=('Speaking', 'median'), Count=('Speaking', 'count')).sort_values("Median",ascending=False).head(10)

              Median  Count
L1
Swedish        562.0      3
German         546.0    447
Tamil          543.0      1
Tamazight      542.0     27
Byelorussian   540.5      2
Czech          540.5     32
Finnish        535.0      3
English        530.0   1636
Bosnian        522.0     26
Hungarian      521.5     50

Снова видим, что лучшие результаты у европейских языков.

### Женщины или мужчины?

In [22]:
dataframe.groupby("Sex").median(numeric_only=True)

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
Sex,,,,,,,,,
Female,26.0,2.0,3.0,90.0,522.0,0.0468,0.396083,12.0,20.0
Male,26.0,3.0,3.0,79.0,504.0,0.0586,0.555295,18.0,21.0

Согласно этому датасету мужчины лучше усваивают новые слова, грамматические структуры и прочее. Но при этом женщины лучше справляются с разговорным голландским.

### Гипотеза №3

Молодые люди в большей степени способны освоить новый язык, чем старшие.

In [23]:
dataframe["AgeR"] = pd.cut(dataframe["AaA"], 5)
dataframe.groupby("AgeR").median(numeric_only=True).sort_values("Speaking", ascending=False)

C:\Users\misha\AppData\Local\Temp\ipykernel_16064\2244237504.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataframe.groupby("AgeR").median(numeric_only=True).sort_values("Speaking", ascending=False)

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
AgeR,,,,,,,,,
"(-0.088, 17.6]",15.0,6.0,3.0,84.0,526.0,0.0500,0.425700,12.0,20.0
"(70.4, 88.0]",85.0,9.0,2.5,81.0,519.0,0.0444,0.475689,16.5,20.5
"(17.6, 35.2]",25.0,2.0,3.0,86.0,517.0,0.0479,0.398649,14.0,21.0
"(52.8, 70.4]",55.0,2.0,4.0,100.0,514.0,0.0128,0.363589,11.0,19.0
"(35.2, 52.8]",39.0,3.0,4.0,90.0,506.0,0.0468,0.396083,12.0,21.0

In [24]:
dataframe["AgeR"] = pd.cut(dataframe["AaA"], 5)
dataframe.groupby("AgeR").mean(numeric_only=True).sort_values("Speaking", ascending=False).round(2)

C:\Users\misha\AppData\Local\Temp\ipykernel_16064\1921964247.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataframe.groupby("AgeR").mean(numeric_only=True).sort_values("Speaking", ascending=False)

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
AgeR,,,,,,,,,
"(-0.088, 17.6]",13.204870,8.883826,2.505391,76.525913,526.694957,0.040891,0.405452,13.387130,19.426087
"(70.4, 88.0]",82.250000,9.500000,2.250000,68.750000,520.750000,0.039625,0.407412,16.250000,20.500000
"(17.6, 35.2]",25.706551,3.594611,3.159233,81.827067,518.376694,0.046467,0.413229,14.455295,20.159233
"(52.8, 70.4]",56.355372,2.603306,3.214876,87.520661,508.983471,0.026824,0.272690,11.966942,18.264463
"(35.2, 52.8]",40.119552,3.613740,3.337900,81.857617,507.457451,0.042389,0.375814,14.247613,19.965961

Результаты оказались неочевидными. Мы ожидали обратную зависимость результатов. Однако лучшие результаты оказались у детей и пожилых людей, а худшие - у людей от 35 до 70 лет. Здесь можно предположить, что дети и пожилые могут больше времени уделять обучению. Но если мы обратим внимание на столбец `Edu.day`, то увидим, что люди среднего возраста в среднем больше дней тратили на изучение языка. Из косвенных факторов, негативно влияющих на изучение языка людьми среднего возраста, можно также назвать большее количества стресса (на работе, в семье и пр.), чем у детей и пожилых людей, но это лишь предположение о причинах такого результата.

Итого, гипотеза не подтверждена.

### Гипотеза № 4

Чем больше продолжительность пребывания в стране, тем меньше времени тратится на обучение, а результаты лучше, так как опыт взаимодействия с языком в естественных условиях (в окружении) набирается достаточно большой.

In [25]:
dataframe["LoRR"] = pd.cut(dataframe["LoR"], 10)
dataframe.groupby("LoRR").median(numeric_only=True)

C:\Users\misha\AppData\Local\Temp\ipykernel_16064\1641722394.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataframe.groupby("LoRR").median(numeric_only=True)

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
LoRR,,,,,,,,,
"(-0.059, 5.9]",26.0,2.0,3.0,90.0,516.0,0.04790,0.398649,13.0,20.0
"(5.9, 11.8]",26.0,7.0,3.0,84.0,517.0,0.05000,0.413650,14.0,21.0
"(11.8, 17.7]",24.0,14.0,3.0,82.0,521.0,0.05000,0.497357,12.0,20.0
"(17.7, 23.6]",22.0,20.0,3.0,79.0,529.0,0.05000,0.595079,12.0,20.0
"(23.6, 29.5]",18.0,26.0,3.0,79.0,531.0,0.05000,0.595079,12.0,20.0
"(29.5, 35.4]",11.0,31.0,3.0,79.0,525.5,0.05000,0.595079,12.5,20.0
"(35.4, 41.3]",0.0,38.0,3.0,70.5,503.0,0.05945,0.595079,17.0,21.0
"(41.3, 47.2]",0.0,45.5,3.5,63.0,502.5,0.06130,0.575187,15.0,20.5
"(47.2, 53.1]",9.5,51.5,3.0,70.5,506.5,0.10320,0.575187,18.5,20.0
"(53.1, 59.0]",0.0,57.5,3.5,63.0,448.0,0.05115,0.510390,9.5,21.0

In [31]:
dataframe.groupby("LoRR").mean(numeric_only=True).round(2)

C:\Users\misha\AppData\Local\Temp\ipykernel_16064\859424672.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dataframe.groupby("LoRR").mean(numeric_only=True).round(2)

,AaA,LoR,Edu.day,Enroll,Speaking,morph,lex,new_feat,new_sounds
LoRR,,,,,,,,,
"(-0.059, 5.9]",26.92,2.34,3.17,82.18,517.15,0.04,0.40,14.30,20.06
"(5.9, 11.8]",26.15,7.82,3.03,77.86,518.30,0.05,0.42,14.86,20.25
"(11.8, 17.7]",23.54,13.86,2.93,80.81,522.99,0.05,0.42,14.05,19.89
"(17.7, 23.6]",19.52,19.93,2.83,83.53,529.29,0.05,0.45,13.90,20.21
"(23.6, 29.5]",16.46,26.09,2.80,79.07,532.78,0.05,0.46,14.15,20.67
"(29.5, 35.4]",11.36,31.59,2.73,78.19,528.34,0.05,0.45,14.59,20.63
"(35.4, 41.3]",2.21,37.88,2.88,62.50,508.15,0.06,0.49,15.41,20.59
"(41.3, 47.2]",0.00,45.08,3.33,62.17,505.00,0.05,0.48,15.42,20.17
"(47.2, 53.1]",9.50,51.50,3.00,70.50,506.50,0.10,0.58,18.50,20.00
"(53.1, 59.0]",0.00,57.50,3.50,63.00,448.00,0.05,0.51,9.50,21.00

Как мы видим, `Enroll`, то есть продолжительность обучения на языковых курсах, действительно уменьшается. Но результат `Speaking` с какого-то момента начинает уменьшаться. Также увеличивается `new_feat` (показатель усвоения новых слов и грамматических структур). Это связано с тем, что большой опыт взаимодействия с языком позволяет быстро и легко распознавать его особенности, что помогает усваивать новые слова и конструкции.

### Гипотеза №5

Чем больше дней обучения в неделю, тем больше знаний человек получает. Однако сразу можно сказать, что это совсем необязательно. Давайте это выясним.

In [32]:
print('\tМедиана:')
print(dataframe.groupby("Edu.day").median(numeric_only=True))
print('\n\n\tСреднее:')
print(dataframe.groupby("Edu.day").mean(numeric_only=True).round(3))

	Медиана:
          AaA  LoR  Enroll  Speaking   morph       lex  new_feat  new_sounds
Edu.day
1.0      25.0  3.0    85.0     510.0  0.0479  0.411091      14.0        21.0
2.0      22.0  3.0    85.0     519.0  0.0479  0.413650      14.0        20.0
3.0      24.0  3.0    86.0     517.0  0.0479  0.398649      12.0        20.0
4.0      28.0  2.0    86.0     516.0  0.0479  0.398649      14.0        21.0


	Среднее:
            AaA    LoR  Enroll  Speaking  morph    lex  new_feat  new_sounds
Edu.day
1.0      25.699  4.629  78.965   510.594  0.043  0.412    14.631      20.072
2.0      23.644  5.055  78.179   520.481  0.046  0.422    14.514      20.028
3.0      24.923  3.924  82.467   518.235  0.046  0.405    13.925      19.909
4.0      29.324  3.531  81.467   518.083  0.046  0.410    14.857      20.346

Все-таки реальной зависимости здесь действительно нет. Единственное, что можно отметить, это то, что занятия один раз в неделю дают заметно более плохой результат. В остальном же ничего интересного.

## Корреляция данных

Перед тем, как искать некоторую корреляцию данных, удалим ненужные столбцы. Удалим `L1L2`, так как это всего лишь конкатенация столбцов `L1` и `L2` и в анализе не используется. Также удалим столбец с ISO-кодом языка, так как это просто другая запись `L1`.